

    
 .myimg {
    height: 40px;
    margin-right: 6px;
    margin-left: 30px;
  } 

    .navbar {
        width: 100%;
        height: 75px;
        font-size: 15px;
        color: #333;
        font-weight: 500;
        background-color: #fff;
        position: sticky;
        top: 0;
        background: #fff;
        letter-spacing: 1px;
        box-shadow: 0 10px 100px rgb(0 0 0 / 10%);
    }
    
    footer {
        height: 150px;
        padding-top: 15px;
        padding-left: 15px;
        color: #FFD740; 
        background-color: #424242;
        text-align: center;
    }
    
    footer h4{
        margin-top: 15px;
    }
    
    footer .socialicon{
        color: #fff;  
       padding: 10px;
    }
/* Home section */


    
    